{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Title</th>
                <th>Lang</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.authorName }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.lang }}</td>
                <td>{{ book.createdAt ? book.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('book_new') }}">Create new</a>
    <a href="{{ path('book_upload') }}">Загрузить</a>
    <a href="{{ path('book_count') }}">Количество книг</a>
    <a href="{{ path('authors_without_books') }}">Авторы без книг</a>
    <a href="{{ path('books_by_date') }}">Количество книг по датам</a>
{% endblock %}
